h1{
  color: #1525D4;
  font-size: 60px;
  text-align: center;
 
}
table{
  text-align: center;
background:#1DBF73 ;
}
table tr td{
  padding: 30px;
  color: #CBC745;
  color: #;
}
body{
  background: #B25B37;
}